<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like working with computers. It's my hobby and my profession. I love the Internet and the way it works, and I am comfortable working on Android applications. I've worked on Web applications; front-end and back-end, and I have experience with ANPR systems. I have a keen interest in developing apps and learning new technologies.
            </p>
            <p class="paragraph-text justify-text">
                I promote, support and use free and open source software to the extent possible.
            </p>
            <p class="paragraph-text justify-text">
                I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
